@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
 	display: flex;
  align-items: center;
	padding-top: 10px;
/*  background-color: #212121;
  color: whitesmoke;
*/
  flex-direction: column;
}

.page {
	padding-top: 20px;
	height: 720px;
}

.dataPage {
	padding-top: 20px;
	height: 100%;
}

.content {
	padding: 30px;
}

.intro {
	padding: 30px;
}

.infoTable {
	margin-left: 30px;
}

.linkList {
	padding-top: 10px !important; 
	padding-left: 30px !important; 
}

.quickLinks {
	padding-top: 100px !important;
	padding: 30px;
}

.disclosure {
	color: red;
	font-weight: bold;
}

.beta {
	padding-left: 10px;
}

.profilePic {
	height: 48px;
	width: 48px;
}

.icon {
	width: 35px;
	border: solid 1px transparent;
	border-radius: 4px;
}

.iconList {
	padding-left: 40px !important;
}

.iconRow {
	padding-top: 30px;
	padding-bottom: 30px;
}

.contact {
	padding-left: 30px !important;
}

.diagrams {
	padding: 20px;
}

.tables {
	margin-left: 30px;
}



.diagram {
	width: 100%;
	border: solid 1px black;
	border-radius: 3px;
	margin : 5px;
}

.projectPng {
	height: 235px;
	width: 300px;
}

.images {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}


/* --- home --- */

.leftSide {
	padding-right: 100px;
	padding-left: 10px;
}
.rightSide {
	padding-left: 100px;
	padding-right: 10px;
	width: 500px !important;
}

.colours {
  background-color: #212121 !important;
  color: whitesmoke !important;
}


/* --- qa --- */

.qa {
	width: 100%;
}

.heading {
	text-align: center;
	padding-bottom: 10px;
}

.askQuestionLabel {
	padding: 2px;
	background: black;
	color: white !important;
	font-size: 15px !important;
	border: solid 1px black;
	border-radius: 3px;
}
.askQuestion {
	padding: 5px;
	margin: 5px;
	width: 50%;
}

.list {
	padding: 5px;
	margin: 5px;
}

.question {
	margin-bottom: 30px;
	border: solid 1px black;
	border-radius: 3px;
}

.questionHeader {
	padding: 4px;
	border: solid 1px white;
	background-color: black;
	color: white;
	border: solid 1px black;
	height: 75px;
}

.answerQuestion {
	width: 80%;
	padding-left: 30px;
}

.answer {
	padding: 5px;
	margin: 5px;
	border: solid 1px white;
	height: 80px;
}

.answerText {
	margin: 10px;
	float: left;
	padding-right: 10px;
}

.questionText {
	margin: 10px;
	float: left;
	padding-right: 10px;
}






