@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
 	display: flex;
  align-items: center;
	padding-top: 10px;
/*  background-color: #212121;
  color: whitesmoke;
*/
  flex-direction: column;
}

.page {
	height: 720px;
}


.disclosure {
	color: red;
	font-weight: bold;
}

.beta {
	padding-left: 10px;
}






/* --- home --- */

.leftSide {
	padding-right: 10px;
	padding-left: 10px;
}
.rightSide {
	padding-left: 10px;
	padding-right: 10px;
	width: 500px !important;
}

.colours {
  background-color: #212121 !important;
  color: whitesmoke !important;
}


/* --- qa --- */

.qa {
	width: 100%;
}

.heading {
	text-align: center;
	padding-bottom: 10px;
}

.askQuestionLabel {
	padding: 2px;
	background: black;
	color: white !important;
	font-size: 15px !important;
	border: solid 1px black;
	border-radius: 3px;
}
.askQuestion {
	padding: 5px;
	margin: 5px;
	width: 50%;
}

.list {
	padding: 5px;
	margin: 5px;
}

.question {
	padding: 5px;
	margin: 5px;
	margin-bottom: 30px;
}

.questionHeader {
	padding: 5px;
	border: solid 1px white;
	background-color: black;
	color: white;
	border: solid 1px black;
	border-radius: 3px;
	height: 75px;
}

.answerQuestion {
	width: 50%;
}

.answer {
	padding: 5px;
	margin: 5px;
	border: solid 1px white;
	height: 80px;
}

.answerText {
	margin: 10px;
	float: left;
	padding-right: 10px;
}

.questionText {
	margin: 10px;
	float: left;
	padding-right: 10px;
}






