.faq {
	color: black;
	text-align: center;
}

.questionList {
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.question {
	border: solid 1px black;
	border-radius: 8px;
	margin: 5px;
	padding: 0px;
}

button {
	color: green;
	margin: 1px;
}

