{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds-from-desktop">

		<h1 class="govuk-heading-xl">
			Check and Send
		</h1>

		{{ govukSummaryList({
		rows: [
		{
		key: {
		text: "Decision"
		},
		value: {
		text: data['decision'] 
		},
		actions: {
		items: [
		{
		href: "/decision",
		text: "Change",
		visuallyHiddenText: "decision"
		}
		]
		}
		}
		]
		}) }}

		<p>
		Sending the decision will save a snapshot of the 'Market Position Data' for comparison later.
		</p>

		<!--      <form class="disabled" action="/notfound" method="post" novalidate > 

			{{ govukButton({
			text: "Accept and send"
			}) }}

			</form>
		-->

		<button class="govuk-button disabled" data-module="govuk-button">
			Accept and Send
		</button>


	</div>
</div>
{% endblock %}
